wildfly-copy/standalone/data/wsdl/dcm4chee-arc-ear-5.24.0-mysql.ear/dcm4chee-arc-retrieve-xdsi-5.24.0.war/wsdl/XDS-I.b_ImagingDocumentSource.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ImagingDocumentSource" targetNamespace="urn:ihe:rad:xdsi-b:2009">
<documentation>IHE XDS-I.b Imaging Document Source</documentation>
  <types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007">
			<!-- Include the message schema -->
			
  <xsd:include schemaLocation="../schema/IHE/XDS.b_DocumentRepository.xsd"/>
		
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="urn:ihe:rad:xdsi-b:2009">
			<!-- Include the message schema -->
			
  <xsd:include schemaLocation="../schema/IHE/XDSI.b_ImagingDocumentSource.xsd"/>
		
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="urn:dicom:wado:ws:2011">
			<!-- Include the message schema -->
			
  <xsd:include schemaLocation="../schema/DICOM/dicom.wado.ws.2011.xsd"/>
		
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<!-- Include the message schema -->
			
  <xsd:include schemaLocation="../schema/ebRS/rs.xsd"/>
		
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<!-- Include the message schema -->
			
  <xsd:include schemaLocation="../schema/ebRS/lcm.xsd"/>
		
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wado="urn:dicom:wado:ws:2011" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:iherad="urn:ihe:rad:xdsi-b:2009" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<!-- Include the message schema -->
			
  <xsd:include schemaLocation="../schema/ebRS/rim.xsd"/>
		
</xsd:schema>
  </types>
  <message name="RetrieveImagingDocumentSetRequest_Message">
<documentation>Retrieve Imaging Document Set</documentation>
    <part element="iherad:RetrieveImagingDocumentSetRequest" name="body">
    </part>
  </message>
  <message name="RetrieveRenderedImagingDocumentSetRequest_Message">
<documentation>Retrieve Rendered Imaging Document Set</documentation>
    <part element="wado:RetrieveRenderedImagingDocumentSetRequest" name="body">
    </part>
  </message>
  <message name="RetrieveRenderedImagingDocumentSetResponse_Message">
<documentation>Retrieve Rendered Document Set Response</documentation>
    <part element="wado:RetrieveRenderedImagingDocumentSetResponse" name="body">
    </part>
  </message>
  <message name="RetrieveDocumentSetResponse_Message">
<documentation>Retrieve Document Set Response</documentation>
    <part element="ihe:RetrieveDocumentSetResponse" name="body">
    </part>
  </message>
  <portType name="ImagingDocumentSource_PortType">
    <operation name="ImagingDocumentSource_RetrieveImagingDocumentSet">
      <input message="iherad:RetrieveImagingDocumentSetRequest_Message" wsaw:Action="urn:ihe:rad:2009:RetrieveImagingDocumentSet">
    </input>
      <output message="iherad:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse">
    </output>
    </operation>
    <operation name="ImagingDocumentSource_RetrieveRenderedImagingDocumentSet">
      <input message="iherad:RetrieveRenderedImagingDocumentSetRequest_Message" wsaw:Action="urn:dicom:wado:ws:2011:RetrieveRenderedImagingDocumentSet">
    </input>
      <output message="iherad:RetrieveRenderedImagingDocumentSetResponse_Message" wsaw:Action="urn:dicom:wado:ws:2011:RetrieveRenderedImagingDocumentSetResponse">
    </output>
    </operation>
  </portType>
  <binding name="ImagingDocumentSource_Binding" type="iherad:ImagingDocumentSource_PortType">
    <wsaw:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="true"/>
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ImagingDocumentSource_RetrieveImagingDocumentSet">
      <soap12:operation soapAction="urn:ihe:rad:2009:RetrieveImagingDocumentSet"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="ImagingDocumentSource_RetrieveRenderedImagingDocumentSet">
      <soap12:operation soapAction="urn:dicom:wado:ws:2011:RetrieveRenderedImagingDocumentSet"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ImagingDocumentSource">
    <port binding="iherad:ImagingDocumentSource_Binding" name="ImagingDocumentSource_Port_Soap12">
      <soap12:address location="http://localhost:8085/dcm4chee-arc/xdsi/ImagingDocumentSource"/>
    </port>
  </service>
</definitions>